<h1>Thank You!</h1>

<p>Thanks for your suggestion. We will consider it and get back to you shortly.</p>

<p>In the meantime, here is a copy of your recipe suggestion for your records.</p>

<h2>Recipe title: <%= name %></h2>

<h2>Ingredients</h2>
<pre><%= ingredients %></pre>

<h2>Directions</h2>
<pre><%= directions %></pre>

<p><a href="/recipes">Return to the recipes list</a></p>